[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boxsdk = "*"
flask = "*"
flask-cors = "*"
appengine-python-standard = "*"

[dev-packages]

[requires]
python_version = "3.8"
